<div class="container">
  <div class="background-header">
    <div>
      <h1>Irrigation Valve Automation</h1>
    </div>
  </div>

  <!--<button class="btn btn-primary" ui-sref="myValves">My Active Valves</button>-->
  <!--<hr>-->
  <div class="clear"></div>
  <!--<br>-->
  <ul class="nav nav-pills nav-stacked float-left col-md-2">
    <li ui-sref="myValves" class="btn btn-primary">My Current Valves</li>
    <li ui-sref="history" class="btn btn-primary">My History</li>
  </ul>
  <form class="col-md-6 well">
    <h3>Add New Valve</h3>
    <div class="col-md-8">
      <label>Name of valve:</label>
      <input class="form-control" ng-model="valve.valveName" type="text">
      <label>Location (optional):</label>
      <input class="form-control" ng-model="valve.relativeLocation" type="text">
      <label>Time on:</label>
      <input class="form-control" ng-model="valve.timeOpen" type="datetime-local">
      <label>Time off:</label>
      <input class="form-control" ng-model="valve.timeClose" type="datetime-local">
      <input class="btn btn-warning float-right" ng-click="createNewValve()" type="submit">
    </div>
    <div ng-show="notShow"class="col-md-4 orange-text"><h4>Valve created!</h4></div>
  </form>{{ authenticatedUser.data._id }}
</div>