<div class="container">
	<div class="background-header">
		<div>
			<h1 class="in-line">Irrigation Valve Automation</h1><img class="logo" src="../images/drawing.png">
		</div>
	</div>
	<ul class="nav nav-pills nav-stacked float-left col-md-2">
		<li ui-sref="myValves" class="btn btn-primary">My Current Valves</li>
		<li ui-sref="add" class="btn btn-primary">Add New Valve</li>
	</ul>
	<br>


	<!--<div ng-repeat="valveSnap in userHistory.settings">

		<div class="well">
			<p>
				<div>Valve Name: {{valveSnap.valveName}}</div>
				<div>Time Opened: {{valveSnap.timeOpen | date:"MM/dd/yyyy 'at' h:mma"}}</div>
				<div>Time Closed: {{valveSnap.timeClose| date:"MM/dd/yyyy 'at' h:mma"}}</div>
				<div>Status: {{valveSnap.status}}</div>
			</p>
		</div>
		<hr>
	</div>-->
	<table class="table-bordered">
		<!--<h3>My History</h3>-->
		<div class="col-md-2">
			<label>Date</label>
			<hr>
			<div ng-repeat="valveSnap in userHistory.settings">
				<div>
					{{valveSnap.timeOpen | date:"MM/dd/yyyy"}}
				</div>
				<hr>
			</div>
		</div>
		<div class="col-md-2">
			<label>Valve Name</label>
			<hr>
			<div ng-repeat="valveSnap in userHistory.settings">
				<div>
					{{valveSnap.valveName}}
				</div>
				<hr>
			</div>
		</div>
		<div class="col-md-2">
			<label>Time Opened</label>
			<hr>
			<div ng-repeat="valveSnap in userHistory.settings">
				<div>
					{{valveSnap.timeOpen | date:"h:mma"}}
				</div>
				<hr>
			</div>
		</div>
		<div class="col-md-2">
			<label>Time Closed</label>
			<hr>
			<div ng-repeat="valveSnap in userHistory.settings">
				<div>
					{{valveSnap.timeClose | date:"h:mma"}}
				</div>
				<hr>
			</div>
		</div>
		<div class="col-md-2">
			<label>Status</label>
			<hr>
			<div ng-repeat="valveSnap in userHistory.settings">
				<div>
					{{valveSnap.status}}
				</div>
				<hr>
			</div>
		</div>
	</table>















</div>