<div class="background-container">
<div class="container">
	<div class="page-header">
		<h1 class="in-line">Irrigation Valve Automation</h1><img class="logo" src="../images/drawing.png">
	</div>
	<div class="about-content col-md-6 text-container">
		<div class="text-title"><h2>About</h2></div>
		<p>Bacon ipsum dolor amet tri-tip est fugiat, frankfurter enim mollit fatback kevin meatball pork chop landjaeger reprehenderit. Eu chuck exercitation ut anim occaecat labore. Jerky biltong swine, labore turducken meatball ad elit officia shoulder sint venison. Officia deserunt cow est.</p>

		<p>In adipisicing ad aute picanha do ut shankle minim ham meatloaf aliqua pastrami pork chop. Swine in exercitation, ribeye sausage et consequat venison biltong labore boudin porchetta do ut rump. Sed chicken labore mollit, brisket hamburger boudin qui ut doner incididunt exercitation velit dolor. Tail dolore brisket laborum minim labore.</p>
		
		<p>Dolore short ribs corned beef pork chop eiusmod kevin voluptate ut. Sed venison tenderloin mollit ullamco, occaecat cow alcatra velit sint reprehenderit ad bresaola ham hock. Consectetur eu deserunt prosciutto, hamburger nostrud aute. Pariatur in dolore, salami rump ut frankfurter t-bone venison. Esse short ribs ullamco picanha tempor enim ea pork loin aliqua est.</p>
		<p>Bacon ipsum dolor amet tri-tip est fugiat, frankfurter enim mollit fatback kevin meatball pork chop landjaeger reprehenderit. Eu chuck exercitation ut anim occaecat labore. Jerky biltong swine, labore turducken meatball ad elit officia shoulder sint venison. Officia deserunt cow est.</p>

		<p>In adipisicing ad aute picanha do ut shankle minim ham meatloaf aliqua pastrami pork chop. Swine in exercitation, ribeye sausage et consequat venison biltong labore boudin porchetta do ut rump. Sed chicken labore mollit, brisket hamburger boudin qui ut doner incididunt exercitation velit dolor. Tail dolore brisket laborum minim labore.</p>
		
		<p>Dolore short ribs corned beef pork chop eiusmod kevin voluptate ut. Sed venison tenderloin mollit ullamco, occaecat cow alcatra velit sint reprehenderit ad bresaola ham hock. Consectetur eu deserunt prosciutto, hamburger nostrud aute. Pariatur in dolore, salami rump ut frankfurter t-bone venison. Esse short ribs ullamco picanha tempor enim ea pork loin aliqua est.</p>
	</div>
	<div class="col-md-6">
		<div class="text-title call-to-action">
			<h1>Get Started!</h1>
		<h3><a class="signin sign-in-button" href="http://localhost:3000/auth/google">Sign in with Google</a></h3></div>
	</div>
</div>

























</div>