<div class="background-container">
<div class="container">
	<div class="page-header">
		<h1 class="in-line">Irrigation Valve Automation</h1><img class="logo" src="http://i.imgur.com/9B43JLl.png">
	</div>
	<div class="about-content col-md-6 text-container">
		<div class="text-title"><h2>About</h2></div>
		<p>To begin using this web application you will need a Google account. If you do not currently have a Google account, you can make one here.</p>

		<p>Once you have logged in with Google, use the navigation buttons on the left and click on the button that says “Edit Arduino IP” to add your router’s IP address. This will allow the application to communicate with the micro controller that will turn on the motors that opens and closes your valves. </p>
		
		<p>The next step is to register a valve on the site for each irrigation valve that has the motor-arduino combination attached to it. You will be able to set an arbitrary name and location on each valve to differentiate between them. Once created, our web server will send a request to your Arduino at the times you selected for that valve to open and close. Once that time has come and gone, that specific valve will show up in the “Expired” column that is displayed on the page connected to the “My Current Valves” button in the navigation. You will be able to update the valve with new dates and times via the “Update Valve” button.</p>
		<p>Through the “My History” button you will find a table that keeps a record of all the dates and times that any valve has been opened and closed.</p>

	</div>
	<div class="col-md-6">
		<div class="text-title call-to-action">
			<h1>Get Started!</h1>
		<h3><a class="signin sign-in-button" href="http://www.ivalveauto.com/auth/google">Sign in with Google</a></h3></div>
		<!--<h3><a class="signin sign-in-button" href="http://www.localhost:3000/auth/google">Sign in with Google</a></h3></div>-->
	</div>
</div>

























</div>