<div class="container">
  <div class="background-header">
    <div>
      <h1 class="in-line">Irrigation Valve Automation</h1><img class="logo" src="http://i.imgur.com/9B43JLl.png">
    </div>
  </div>
  <ul class="nav nav-pills nav-stacked float-left col-md-2">
    <li ui-sref="myValves" class="btn btn-primary">My Current Valves</li>
    <li ui-sref="add" class="btn btn-primary">Add A New Valve</li>
    <li ui-sref="history" class="btn btn-primary">My History</li>
  </ul>

  <form class="col-md-4 well">
    <div class="col-md-9">
      <h3>Update This Valve</h3>
      <label>Valve Name:</label> {{valve.valveName}}
      <br>
      <label>Time on:</label>
      <br>
      <input class="form-control" ng-model="valve.timeOpen" type="datetime-local">
      <br>
      <label>Time off:</label>
      <br>
      <input class="form-control" ng-model="valve.timeClose" type="datetime-local">
      <br>
      <input class="btn btn-warning float-right" ng-click="updateValve(valve, currentUser)" type="submit">
    </div>
  </form>
  <!--<button ui-sref="myValves" >Back to Account Page</button>-->
</div>