<div class="container">
  <div class="page-header">
    <h1>ValveMotorControl</h1>
    <div>Edit Valve</div>
  </div>
  <button ui-sref="account">My Account</button>

<form action="">
  <p>Valve Name: {{valve.valveName}}</p>
  <p>Time on</p>
  <input ng-model="valve.timeOpen" type="datetime-local">
  <p>Time off</p>
  <input ng-model="valve.timeClose" type="datetime-local">
  <input ng-click="updateValve(valve)" type="submit">
</form>
<button ui-sref="myAccnt" >Back to Account Page</button>
</div>