html, body {
	height: 100%;
}
.pointer {
	cursor: pointer;
}
.signinholder {
	text-align: center;
}
.signin {
    
    -webkit-appearance: button;
    
	color: black;
	/*background-color: grey;*/
	width: 30%;
	height: 100px;
	text-align: center;
	margin: auto 0;
	border-radius: 20px;
	padding-top: 40px;
	text-decoration: none !important;
}​